
  <div class="dayBook" *ngIf =" !editMode">
    
    
    <div class="container-fluid">
      <div class="row">
        <div style="align-self: center;">
          <div class="row">
            <div class="col" style="padding-left: 50px;">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Date
                    </mat-panel-title>
                    <mat-panel-description>
                      Enter From and To Date 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                
                    <div class="row">
                      <div class="col">
                        <mat-form-field>
                          <mat-label>From</mat-label>
                          <input matInput [matDatepicker]= "Frompicker" [formControl] = 'fromDate'>
                          <mat-datepicker-toggle matSuffix [for]= "Frompicker" ></mat-datepicker-toggle>
                          <mat-datepicker #Frompicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-label>To</mat-label>
                          <input matInput [matDatepicker]= "Topicker" [formControl] = 'toDate'>
                          <mat-datepicker-toggle matSuffix [for]= "Topicker" ></mat-datepicker-toggle>
                          <mat-datepicker #Topicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div style="float: right;">
                        <button mat-raised-button color="primary" (click) = "createVoucherRequest()">Apply</button>
                      </div>
                    </div>
                  
                
                </mat-expansion-panel>
              </mat-accordion>
    
            </div>
            <div class="col" style="width: 40%;">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Filter
                    </mat-panel-title>
                    <mat-panel-description>
                      Select filter here 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <div class="row">
                    <div class="col">
                      <mat-form-field>
                        <mat-select name = "filterField" placeholder = "Select Filter Field" [formControl] = "filterFieldFC">
                          <mat-option *ngFor = "let item of filterMap|keyvalue" [value] = "item"> {{item.key}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <div *ngIf = "filterFieldFC.value">
                        <mat-form-field *ngIf = "filterFieldFC.value.key != 'Amount Greater Than' && filterFieldFC.value.key != 'Amount Smaller Than'">
                          <mat-select name = "filterVAlue" placeholder = "Select Filter Value" [formControl] = "filterValueFC">
                            <mat-option *ngFor = "let item of filterFieldFC.value.value" [value] = "item"> {{item}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf = "filterFieldFC.value.key == 'Amount Greater Than' || filterFieldFC.value.key == 'Amount Smaller Than'">
                          <input type = 'number' matInput name = "filterVAlueText" placeholder = "Select Filter Value" [formControl] = "filterValueFC">
                            
                        </mat-form-field>
                      </div>
                      
                    </div>
                    
                  </div>
                  <div class = "row">
                    <div class="col" >
                      <button mat-raised-button  color = "primary" (click) = "filter()">Apply</button>
                    </div>
                    <div class="col">
                      <button mat-raised-button  color = "accent" (click) = "this.filteredArray = this.vouchers">Reset</button>
                    </div>
                  </div>
              
                
                </mat-expansion-panel>
              </mat-accordion>
    
            </div>
          </div>
   
      
        </div>
        <div class="col-md-12">
          <div class="card">
            
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Day Book</h4>
              <h4 class = "card-title" style="float: right;">ONLINE: {{dayBookTotal() | currency: 'INR'}}<br> OFFLINE: {{dayBookTotalOffline() | currency: 'INR'}}</h4>
              
              
              <div *ngIf = "voucherPercent < 100">
                <section class="example-section" >
                  <mat-progress-bar mode="determinate" [value]= "voucherPercent"></mat-progress-bar>
                </section>
              </div>
              <p class="card-category">Find all vouchers here</p>
            </div>
            <div *ngIf = "loading" style="vertical-align: middle; align-self: center;">
              <img src="assets/img/agrostop.gif" alt="Saving Voucher..." width="100px" height="100px">
            </div>
            <div style="padding-left: 10px; padding-right:10px;" *ngIf = "!loading">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                   
                  <th>
                    Date
                  </th>
                  <th>
                    Voucher #
                  </th>
                  <th>
                    Customer Name
                  </th>
                  <th>
                    Address
                  </th>
                  <th>
                    Amount
                  </th>
                  <th>
                  </th>
                  </thead>
                  <tbody>

                    <ng-container *ngFor="let v of filteredArray">
                      <tr *ngIf = "v">
                
                        <td>
                          {{ v.DATE | date: "dd-MMM-yyyy"}}<br>
                          <span  class="badge badge-success">Online</span>
                        </td>
                        <td>
                          {{ v.VOUCHERNUMBER}}<br>
                          <span *ngIf = "v.INVENTORYENTRIES.STOCKITEM" class="badge badge-warning">{{v.VOUCHERTYPENAME}}</span>
                          <span *ngIf = "!v.INVENTORYENTRIES.STOCKITEM" class="badge badge-danger">{{v.VOUCHERTYPENAME}}</span>
                          
                        </td>
                        <td>
                          {{ v.BASICBUYERNAME}}
                        </td>
                        <td>
                          {{ v.ADDRESS}}
                        </td>
                        <td class="text-primary">
                          {{ getVoucherTotal(v.LEDGERENTRIES.LEDGER) | currency : 'INR'}}
                        </td>
                        <td>
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click) = "edit(v, true)">
                              <mat-icon>edit</mat-icon>
                              <span>Edit</span>
                            </button>
                            <button mat-menu-item (click) = "printOnline(v)">
                              <mat-icon>print</mat-icon>
                              <span>Print</span>
                            </button>
                            <button mat-menu-item (click)="v.toggle = !v.toggle">
                              <mat-icon>view_list</mat-icon>
                              <span>View Inventory</span>
                            </button>
                          </mat-menu>
                        </td>
                      </tr>
                     <table *ngIf = "v.toggle && v.INVENTORYENTRIES.STOCKITEM">
                        <thead>
                          <th>Product</th>
                          <th>Qty</th>
                          <th>Rate</th>
                        </thead>
                        <tbody>
                          
                          <div *ngIf = "array(v.INVENTORYENTRIES.STOCKITEM)">
                            <ng-container *ngFor = "let item of v.INVENTORYENTRIES.STOCKITEM">
                              <tr>
                                <td>{{item.STOCKITEMNAME}}</td>
                                <td>{{item.QUANTITY}}</td>
                                <td>{{item.RATE}}</td>
                                
                              </tr>

                            </ng-container>
                          </div>
                          <div *ngIf = "v.INVENTORYENTRIES.STOCKITEM && !array(v.INVENTORYENTRIES.STOCKITEM) ">
                              <tr>
                                <td>{{v.INVENTORYENTRIES.STOCKITEM.STOCKITEMNAME}}</td>
                                
                              </tr>
                              <tr>
                                {{v.INVENTORYENTRIES.STOCKITEM.QUANTITY}}
                              </tr>
                              <tr>
                                {{v.INVENTORYENTRIES.STOCKITEM.RATE}}
                              </tr>

                          </div>
                        </tbody>
                      </table>


                    </ng-container>
                    <ng-container *ngFor="let v of cacheVouchers">
                      <tr *ngIf = "v">
                        
                        <td>
                          {{ v.DATE | date: "dd-MMM-yyyy"}}<br>
                          <span  class="badge badge-danger">Offline</span>

                        </td>
                        <td>
                          {{ v.VOUCHERNUMBER}}<br>
                          <span *ngIf = "v.ALLINVENTORYENTRIES_LIST" class="badge badge-warning">{{v.VOUCHERTYPENAME}}</span>
                          <span *ngIf = "!v.ALLINVENTORYENTRIES_LIST" class="badge badge-danger">{{v.VOUCHERTYPENAME}}</span>
                          
                        </td>
                        <td>
                          {{ v.BASICBUYERNAME}}
                        </td>
                        <td>
                          {{ v.ADDRESS_LIST? v.ADDRESS_LIST.ADDRESS[0]:""}}
                        </td>
                        <td class="text-primary">
                          {{ getTotal(v) | currency : 'INR'}}
                        </td>
                        <td>
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click) = "edit(v, false)">
                              <mat-icon>edit</mat-icon>
                              <span>Edit</span>
                            </button>
                            <button mat-menu-item (click) = "printOffline(v)">
                              <mat-icon>print</mat-icon>
                              <span>Print</span>
                            </button>
                            <button mat-menu-item (click)="v.toggle = !v.toggle">
                              <mat-icon>view_list</mat-icon>
                              <span>View Inventory</span>
                            </button>
                          </mat-menu>
                        </td>
                      </tr>
                     <table *ngIf = "v.toggle && v.INVENTORYENTRIES.STOCKITEM">
                        <thead>
                          <th>Product</th>
                          <th>Qty</th>
                          <th>Rate</th>
                        </thead>
                        <tbody>
                          
                          <div *ngIf = "array(v.INVENTORYENTRIES.STOCKITEM)">
                            <ng-container *ngFor = "let item of v.INVENTORYENTRIES.STOCKITEM">
                              <tr>
                                <td>{{item.STOCKITEMNAME}}</td>
                                <td>{{item.QUANTITY}}</td>
                                <td>{{item.RATE}}</td>
                                
                              </tr>

                            </ng-container>
                          </div>
                          <div *ngIf = "v.INVENTORYENTRIES.STOCKITEM && !array(v.INVENTORYENTRIES.STOCKITEM) ">
                              <tr>
                                <td>{{v.INVENTORYENTRIES.STOCKITEM.STOCKITEMNAME}}</td>
                                
                              </tr>
                              <tr>
                                {{v.INVENTORYENTRIES.STOCKITEM.QUANTITY}}
                              </tr>
                              <tr>
                                {{v.INVENTORYENTRIES.STOCKITEM.RATE}}
                              </tr>

                          </div>
                        </tbody>
                      </table>


                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--   Core JS Files   -->




  </div>

<div *ngIf ="editMode" class="htmlPage" style="padding-left: 50px;">
  <div class = "row">
    <button (click) = "editMode = false" mat-mini-fab color="primary">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class = "row">
    <voucher-wizard editMode ="editMode" [(voucher)] ="voucher" (valueChange)="updateEditMode()"></voucher-wizard>
  </div>
</div>
