
   <mat-card>
          <mat-card-header>
            <mat-card-title>Customer</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <form #customerForm = "ngForm">

          
            <div class="col">
              <div class="row">
                <div class="col">
                <mat-form-field>
                  <input matInput required [(ngModel)] = "customer.name" placeholder="Enter Name" autofocus name = "customerName" (keydown.enter) ="fatherNameRef.focus();false" >
                </mat-form-field>
                </div>
                <div class="col">
                <mat-form-field>
                  <input #fatherNameRef required matInput placeholder="Enter Father Name" name = "fatherName" [(ngModel)]="customer.fatherName" (keydown.enter) ="landHolding.focus();false">
                </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field>
                  <input #landHolding type= "number" matInput [(ngModel)] = "customer.landHolding" placeholder="Enter Land Holding" name = "landHolding" (keydown.enter) ="phoneNumber.focus();false">
                </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field>
                  <input #phoneNumber matInput placeholder="Enter Phone Number" name = "phoneNumber" [(ngModel)]="customer.phoneNumber" (keydown.enter) ="addressRef.focus();false">
                </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field style="width: 150px;">
                    <mat-label>Pick an Address</mat-label>
                    <input #addressRef type="text"
                           name = "address"
                           matInput
                           required
                           [formControl]="addressControl"
                           [(ngModel)] = "address"
                           [matAutocomplete]="auto">  
                    <mat-autocomplete [panelWidth]="600" #auto="matAutocomplete"
                                      [displayWith]= "displayFnProduct" (optionSelected) = "saveButton.focus()">
                                    
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        <th scope="row">
                          <div class="p-2">
                            <div class="ml-3 d-inline-block align-middle">
                              <h6 class="mb-0 font-weight-bold">{{option.name}}, {{option.tehsilName}}, {{option.districtName}}, {{option.stateName}}</h6>
                            </div>
                          </div>
                        </th>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field>
                  <input #consumerType placeholder="Customer Type" matInput type="text" readonly name = "customerType" [(ngModel)]="customer.gSTREGISTRATIONTYPE">
                </mat-form-field>
                </div>

              </div>
              <div class="row">
                
              </div>
            </div>
          </form>
          </mat-card-content>
          <mat-card-actions>
            <button style="float: right;" #saveButton mat-button [disabled] = "disableSaveButton || customerForm.invalid || !address || !address.name" (click) = "submit()">SAVE</button>
          
          </mat-card-actions>
        </mat-card>


     
  