
   
     
         
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Create Customer</h4>
                  <p class="card-category">Enter basic customer details</p>
                </div>
                <div class="card-body">
                  <form #f='ngForm' (submit)='f.form.valid && submit()'>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Name</label>
                          <input type="text" class="form-control" name = "name" required [(ngModel)]="customer.name">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Father's Name</label>
                          <input type="text" class="form-control" name = "fatherName" [(ngModel)]="customer.fatherName">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Company (disabled)</label>
                          <input type="text" class="form-control" disabled name = "customerType" [(ngModel)]="customer.gSTREGISTRATIONTYPE" value="Consumer">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Land Holding</label>
                          <input type="text" class="form-control" required name = "landHolding" [(ngModel)]="customer.landHolding">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email address</label>
                          <input type="email" class="form-control" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                        
                          <mat-form-field class="example-full-width" style="width: 150px;">
                            <mat-label>Pick an Address</mat-label>
                            <input type="text"
                                   name = "address"
                                   matInput
                                   [formControl]="addressControl"
                                   [(ngModel)] = "address"
                                   [matAutocomplete]="auto">  
                            <mat-autocomplete [panelWidth]="600" #auto="matAutocomplete"
                                              [displayWith]= "displayFnProduct">
                                            
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                <th scope="row">
                                  <div class="p-2">
                                    <div class="ml-3 d-inline-block align-middle">
                                      <h6 class="mb-0 font-weight-bold">{{option.name}}, {{option.tehsilName}}, {{option.districtName}}, {{option.stateName}}</h6>
                                    </div>
                                  </div>
                                </th>
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone Number</label>
                          <input type="text" class="form-control" name = "phoneNumber" [(ngModel)]="customer.phoneNumber">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Customer Group</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Aadhar Id</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary pull-right">Save Customer</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
                </div>
              
            
          
   
