<div class="col">
  <div class="row">
    <button style="width: 100%;" *ngIf = "!showingGroup" mat-raised-button color="accent" (click) = "getProductGroupBreakdown(vouchers)">
      Show Group Breakdown
    </button>

    <button style="width: 100%;" *ngIf = "showingGroup" mat-raised-button color="primary" (click) = "getStockItemBreakdown(vouchers)">
      Show Product Breakdown
    </button>
  </div>
</div>
<mat-table #table matSort [dataSource]="datasource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="itemName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.itemName}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="qty">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Qty </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.qty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Average Rate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value / element.qty | currency: 'INR'}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value | currency: 'INR'}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="valuePercentage">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value Percentage </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.valuePercentage | percent:'2.2-5'}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumnsItems"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsItems;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[12,20, 50, 100]" showFirstLastButtons></mat-paginator>
