<div class="htmlPage" style="padding-left: 20px; padding-right: 20px;">
    <div class="column">
        <div class="row">
            <div class="card" >
                <div class="card-header card-header-warning" >
                  <h4 class="card-title">Cash Book</h4>
                  
                    
                  <div style="float: left;">
                    <mat-form-field>
                        <mat-label>From</mat-label>
                        <input matInput [matDatepicker]= "Frompicker" [formControl] = 'fromDate'>
                        <mat-datepicker-toggle matSuffix [for]= "Frompicker" ></mat-datepicker-toggle>
                        <mat-datepicker #Frompicker></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div style="float: left;">
                    <mat-form-field>
                        <mat-label>To</mat-label>
                        <input matInput [matDatepicker]= "Topicker" [formControl] = 'toDate'>
                        <mat-datepicker-toggle matSuffix [for]= "Topicker" ></mat-datepicker-toggle>
                        <mat-datepicker #Topicker></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div style="float: right;">
                    <button type="button" mat-button  (click) = "getSummary()">Apply</button>
                  </div>
                    
               
                </div>
                <div class="card-content table-responsive table-full-width">
                  <table class="table">
                    <thead class="text-danger">
                      <th style="width: 60%;">Particular</th>
                      <th>Debit</th>
                      <th>Credit</th>
                     
                    </thead>
                    <tbody>
                        <ng-container *ngFor = "let profile of cashBookStats$ | async">
                            <tr>
                                <td>{{profile.NAME}}</td>
                                <td class="text-success">{{profile.DEBITAMOUNT}}</td>
                                <td class="text-danger">{{profile.CREDITAMOUNT}}</td>
                                
                            </tr>
                        </ng-container>
                      
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>