


.purple{
  background-color: #FF5964;
}

.pink{
  background-color: #F5D400;
}

.teal{
  background-color: #669BBC;
}

.cyan{
  background-color: #FFB49A;
}

.custom-dialog-v{
  max-height: 90vh;
  background-color: black;

 }

 .backdropBackground-v {
  background-color: rgba(0, 0, 0, 0.116);
}

.ledger{
  background-color: #697A21;

}

