<mat-tab-group>
    <mat-tab label = "Product Profile">
      <div style="padding-left: 25%; padding-right: 25%;" >
        <div class="mat-elevation-z8">
          <product-profile-table ></product-profile-table>
  
        </div>
      </div>
     
        
    </mat-tab>
    <mat-tab label = "Product Group">
      <div style="padding-left: 25%; padding-right: 25%;" >

      <div class="mat-elevation-z8">
        <product-group-table></product-group-table>
      </div>  
      </div>
    </mat-tab>
    <mat-tab label = "Chemical Group">
        
      <div style="padding-left: 25%; padding-right: 25%;" >

        <div class="mat-elevation-z8">

          <chemical-group-table></chemical-group-table>
        </div>  
      </div>
          
          


    </mat-tab>
    
</mat-tab-group>