<div class="container-fluid">
  <div class="col">
    <div style="float: left;">
      <span style="font-size: large;">Voucher Register</span>
    </div>
    <div>
      <!-- <button *ngIf="!daybookService.loading" mat-icon-button style="float: right;"
        (click)="daybookService.getOnlineVouchers(); daybookService.getCacheVouchers()">
        <mat-icon>autorenew</mat-icon>
      </button> -->
      <mat-spinner *ngIf="daybookService.loading" matSuffix [diameter]="24" style="float: right; margin-top: 8px">
      </mat-spinner>
    </div>

    <div class="row" style="width: 100%; padding-left: 50px; padding-top: 30px;">
      <voucher-table #voucherTable style="width: 100%;" [voucherFilter] = "voucherFilter"></voucher-table>



    </div>





  </div>
</div>
<!-- 
<mat-tab-group mat-stretch-tabs>
  <mat-tab label = "Voucher Register">
    <div class="dayBook">







    </div>

  </mat-tab>

</mat-tab-group> -->
