<mat-tab-group>
    <mat-tab label="Summary">
        <div class="row" *ngIf = "order">
            <div class="col" style="margin-left: 10px;">
                
                <tr>
                    <td>Order ID: </td>
                    <td>{{order.orderId}}</td>
                </tr>
                <tr>
                    <td>Creation Date: </td>
                    <td>{{order.dateOfCreation | date:"dd-MMM-yyyy"}}</td>
                </tr>

                <tr>
                    <td>Customer Name: </td>
                    <td>{{order.customer? order.customer.name : "Not Applicable"}}</td>
                </tr>

                <tr>
                    <td>Address: </td>
                    <td>{{order.address && order.address[0]? order.address[0].name + ', '+ order.address[0].tehsilName : "Not Applicable"}}</td>
                </tr>

            </div>
            <div class="col">
                something goes there.
            </div>
        </div>    
        <div class="row">
            <button mat-raised-button (click) = "createVoucher()"> Create Voucher</button>
        </div>
    </mat-tab>
    <mat-tab label="Items"> Content 2 </mat-tab>
    <mat-tab label="Payment"> Content 3 </mat-tab>
    <mat-tab label="Voucher"> Content 3 </mat-tab>
    <mat-tab label="Delivery"> Content 3 </mat-tab>
  </mat-tab-group>

  