<mat-form-field *ngIf = "type=='customer'">
    <input #customerField type="text"
           placeholder="Select Customer"
           matInput
           [formControl]="customerControl"
           [matAutocomplete]="auto"
           name = "customer">
    <mat-autocomplete autoActiveFirstOption [panelWidth]="500"
                      #auto="matAutocomplete"
                      (optionSelected) = "optionSelected.emit($event)"
                      [displayWith]="displayFnCustomer">


      <mat-option *ngFor="let option of customerFilteredOptions | async" [value]="option">
        <h6>{{option.name}}, S/O {{option.fatherName}}<br>
          <small><strong>Address: </strong>{{option.fullAddress?option.fullAddress.name: ""}} </small>
        </h6>
        
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>






  <mat-form-field *ngIf = "type == 'product'">
    <input #invField
     type="text"
           placeholder="Pick one"
           matInput
           name = "selectProductAuto"
           [formControl]="productControl"
           [matAutocomplete]="productAuto"
           style="width:100% !important" >
    <mat-autocomplete  [panelWidth]="500" #productAuto="matAutocomplete" position = "above"
    (optionSelected) = "optionSelected.emit($event.option.value)"
                      [displayWith]= "displayFnProduct" autoActiveFirstOption>              

      <mat-option [value]="endVoucher">
        <th scope="row">
          <div class="p-2">
            <div class="ml-3 d-inline-block align-middle">
              <h6 class="mb-0 font-weight-bold">{{endVoucher.NAME}}</h6>
            </div>
          </div>
        </th>
      </mat-option>
      <mat-option *ngFor="let option of productFilteredOptions | async" [value]="option">
        <th scope="row">
          <div class="p-2">
            <div class="ml-3 d-inline-block align-middle">
              <h6 class="mb-0 font-weight-bold">{{option.NAME}}</h6>
            </div>
          </div>
        </th>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>



  <mat-form-field *ngIf = "type == 'ledger'">
    <input #ledgerField
     type="text"
           placeholder="Pick one"
           matInput
           name = "selectLedgerAuto"
           [formControl]="ledgerControl"
           [matAutocomplete]="ledgerAuto"
           style="width:100% !important" >
    <mat-autocomplete  [panelWidth]="300" #ledgerAuto="matAutocomplete" position = "above"
    (optionSelected) = "optionSelected.emit($event.option.value)"
                      [displayWith]= "displayFnLedger" autoActiveFirstOption>              

      
      <mat-option *ngFor="let option of ledgerFilteredOptions | async" [value]="option">
        <th scope="row">
          <div class="p-2">
            <div class="ml-3 d-inline-block align-middle">
              <h6 class="mb-0 font-weight-bold">{{option.NAME}}</h6>
            </div>
          </div>
        </th>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>