<div class="row">
  <div class="col">
    <auto-complete id="primary" #ledgerAutoComp type = "ledger" [ledgerParent] = "this.service.salesAccountLedger" (optionSelected) = "ledgerSelected($event)" ></auto-complete>
  </div>
  <div class="col">
    <mat-form-field>
      <input id = "accAmount" matInput [(ngModel)] = "inventory.ACCOUNTINGALLOCATIONS_LIST.AMOUNT" name = "amount" placeholder="Enter Amount" (keydown.enter) ="inventory.ACCOUNTINGALLOCATIONS_LIST.AMOUNT == inventory.AMOUNT ?dialogRef.close(true):false">
    </mat-form-field>
  </div>
</div>
