<div class="col">


                  <div class="row">
                    <div class="col">
                      <mat-form-field>
                        <mat-select name = "filterField" (selectionChange) = "filterFieldSelected($event.value.value);" placeholder = "Select Filter Field" [formControl] = "filterFieldFC">
                          <mat-option value = "SOme"> some</mat-option>
                          <mat-option *ngFor = "let item of filterMap|keyvalue" [value] = "item"> {{item.key}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <div *ngIf = "filterFieldFC.value">
                        <mat-form-field  *ngIf = "filterFieldFC.value.key != 'Amount Greater Than' && filterFieldFC.value.key != 'Amount Smaller Than'">
                          
                          <input id ="field" type="text"
                                 placeholder = "Select Filter Value"
                                 matInput
                                 [formControl]="filterValueFC"
                                 [matAutocomplete]="auto">
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field *ngIf = "filterFieldFC.value.key == 'Amount Greater Than' || filterFieldFC.value.key == 'Amount Smaller Than'">
                          <input id ="field" type = 'number' matInput name = "filterVAlueText" placeholder = "Select Filter Value" [formControl] = "filterValueFC">
                            
                        </mat-form-field>
                      </div>
                      
                    </div>
                    
                  </div>
                  <div class = "row">
                    <div class="col" >
                      <button mat-raised-button  color = "primary" (click) = "filter()">Apply</button>
                    </div>
                    <div class="col">
                      <button mat-raised-button  color = "accent" (click) = "reset()">Reset</button>
                    </div>
                  </div>
</div>
              