<div class="container" id="print-section" ng-hide> 
  <div *ngIf = "true"> 
  <div class="col-md-12">
      <div class="invoice">
         <!-- begin invoice-company -->
         <div class="invoice-company text-inverse f-w-600">
            <span class="pull-right hidden-print">
           </span>
            INVOICE
         </div>
         <!-- end invoice-company -->
         <!-- begin invoice-header -->
         <div class="invoice-header" >
            <div class="invoice-from" *ngIf = "this.company">
               <small>Company Details</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">{{company.REQNAME}}</strong><br>
                  <ng-container *ngFor = "let address of company['ADDRESS.LIST'].ADDRESS">
                    {{address}}<br>
                  </ng-container>
               </address>
            </div>
            <div class="invoice-to">
               <small>Customer Details</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">{{voucher.BASICBUYERNAME}}</strong><br>
                  <ng-container *ngFor = "let address of customerAddress">
                  {{address.ADDRESS}}<br>
                </ng-container>
               </address>
            </div>
            <div class="invoice-date">
               <small>Invoice </small>
               <div class="date text-inverse m-t-5">{{date | date: 'dd-MMM-yyyy'}}</div>
               <div class="invoice-detail">
                  # {{voucher.VOUCHERNUMBER}}<br>
                  {{voucher.VOUCHERTYPENAME}}<br>
                  <ngx-barcode (bc-value)="voucher._REMOTEID" [bc-display-value]="true" bc-height ="30px"></ngx-barcode>
               </div>
            </div>
         </div>
         <!-- end invoice-header -->
         <!-- begin invoice-content -->
         <div class="invoice-content">
            <!-- begin table-responsive -->
            <div class="table-responsive">
               <table class="table table-invoice">
                  <thead>
                     <tr>
                        <th>Product</th>
                        <th class="text-center" width="10%">Batch</th>
                        <th class="text-center" width="10%">Rate</th>
                        <th class="text-center" width="10%">QTY</th>
                        <th class="text-right" width="20%">TOTAL</th>
                     </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor = "let items of stockItems">
                      <tr>
                        <td>
                           <span class="text-inverse">{{items.STOCKITEMNAME}}</span><br>
                           <small>{{items.tallyObject && items.tallyObject.CATEGORY ? items.tallyObject.CATEGORY.content : ""}}</small>
                        </td>
                        <td class="text-center">
                          <span class="text-inverse">{{items.BATCHALLOCATIONS_LIST.BATCHNAME}}</span> <br>
                          <small>{{items.BATCHALLOCATIONS_LIST.EXPIRYPERIOD.DATE}}</small>
                        </td>
                        <td class="text-center">₹ {{items.RATE}}</td>
                        <td class="text-center">{{items.ACTUALQTY}}</td>
                        <td class="text-right">₹ {{items.AMOUNT}}</td>
                     </tr>
                    </ng-container>
                     
                     
                  </tbody>
               </table>
            </div>
            <!-- end table-responsive -->
            <!-- begin invoice-price -->
            <div class="invoice-price">
               <div class="invoice-price-left">
                  <div class="invoice-price-row">
                     <div class="sub-price">
                        <small>SUBTOTAL</small>
                        <span class="text-inverse">₹ {{getSubTotal()}}</span>
                     </div>
                     <ng-container *ngFor = "let led of voucher.LEDGERENTRIES_LIST">
                        <div *ngIf = "led.METHODTYPE == 'GST'">
                           <div class="sub-price">
                              <i class="fa fa-plus text-muted"></i>
                           </div>
                           <div class="sub-price">
                              <small>{{led.LEDGERNAME}}</small>
                              <span class="text-inverse">₹ {{led.AMOUNT}}</span>
                           </div>
                        </div>
                     </ng-container>
                  </div>
               </div>
               <div class="invoice-price-right">
                  <small>TOTAL</small> <span class="f-w-600">₹ {{getTotal()}}</span>
               </div>
            </div>
            <!-- end invoice-price -->
         </div>
         <!-- end invoice-content -->
         <!-- begin invoice-note -->
         <div class="invoice-note">
            * Make all cheques payable to [Your Company Name]<br>
            * Payment is due within 30 days<br>
            * If you have any questions concerning this invoice, contact  [Name, Phone Number, Email]
         </div>
         <!-- end invoice-note -->
         <!-- begin invoice-footer -->
         <div class="invoice-footer">
            <p class="text-center m-b-5 f-w-600">
               THANK YOU FOR YOUR BUSINESS
            </p>
            <p class="text-center">
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> agrostop.com</span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-phone-volume"></i></span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i> {{company ? company.EMAIL.content: ""}}</span>
            </p>
         </div>
         <!-- end invoice-footer -->
      </div>
   </div>
  </div>
</div>

<div>
  <button [useExistingCss]="true"
  (click) =  "valueChanged.emit('saved')"
    printSectionId="print-section"
    ngxPrint mat-button style="float: right;">print</button>
    <button (click) =  "valueChanged.emit('saved')" mat-button style="float: left;"> cancel</button>
</div>