<mat-tab-group mat-stretch-tabs>
  <mat-tab label = "Item Movement Analysis">
    <item-movement-analysis type = "product"></item-movement-analysis>
  </mat-tab>
  <mat-tab label = "Product Group Movement Analysis">
    <item-movement-analysis type = "productGroup"></item-movement-analysis>
  </mat-tab>
  <mat-tab label = "Chemical Group Movement Analysis">
    <item-movement-analysis type = "chemicalGroup"></item-movement-analysis>
  </mat-tab>
  <mat-tab label = "Ledger Movement Analysis">
    <ledger-movement-analysis></ledger-movement-analysis>
  </mat-tab>
</mat-tab-group>
