.userForm{
  width: 100%;
  align-content: center;
  margin: 10px, 10px, 10px,10px;
  padding: 10px;
}

.voucherTypeDescription{
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.salesDiv{
  width: 100%;
  padding-top: 20px;
}

.input{
  width: 100%
}

.header{
  font-size: 24px;
  align-self: center;
}
.basicUserDetails{
  margin-bottom: 10px;
}
.additionalUserDetails{
  margin-bottom: 10px;
}

.full-width-table {
  width: 100%;

}
