<div class="htmlPage">
<mat-tab-group>
    <!-- <mat-tab label="Vouchers"> 
        

        
<div *ngIf = "!(posVoucherView || paymentVoucherView || receiptVoucherView)" style="padding-top: 100px;">

    <div class="container d-flex">
        <div class="col" style="width: 100%; padding-left: 20px;">
            <div class="row">
                <div class="column" style="width: 45%;">
                    <div class="card card-nav-tabs" style=" height: 90%;"> 
                        <div class="card-header card-header-primary">
                        POS Vouchers
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">Sales Voucher</h4>
                        <form #posSettingForm="ngForm" (ngSubmit) = "switchPOSVoucher()">
                        <div style="padding-left: 10px; padding-right: 10px;" >
    
                            
                            <mat-form-field>
                                <mat-label>Select a Voucher Type</mat-label>
                                <mat-select ngModel required (selectionChange) = "getVoucherType($event.value)" name = "voucherTypeSelect">
                                        <mat-option value = "">Not Applicable</mat-option>
                                        <ng-container *ngFor = 'let v of user.voucherTypes'>
                                            <mat-option *ngIf = "v.voucherCategory == 'Sales'" [value] = "v" >
                                                {{v.voucherTypeName}}
                                            </mat-option>
                                        </ng-container>
                                </mat-select>
                            </mat-form-field>
                      
                            <mat-form-field>
                                <mat-label>Select a Price Level</mat-label>
                                <mat-select required ngModel (selectionChange) = "this.databaseService.savePriceList($event.value)" name = "priceSelect">
                                        <mat-option value = "">Not Applicable</mat-option>
                                        <mat-option *ngFor = 'let v of user.salesVoucherSettings.priceLists' [value] = "v">
                                            {{v}}
                                        </mat-option>
                                </mat-select>
                            </mat-form-field>
                        
                            <mat-form-field>
                                <mat-label>Select a Godown</mat-label>
                                <mat-select ngModel required name= 'godownSelect' (selectionChange) = "this.databaseService.saveGodown($event.value)">
                                        <mat-option value = "">Not Applicable</mat-option>
                                        <mat-option *ngFor = 'let v of user.godownList' [value] = "v">
                                            {{v}}
                                        </mat-option>
                                </mat-select>
                            </mat-form-field>
                        
                        </div>
                        <p class="card-text">At this point only POS Vouchers with a defined POS Class are supported.</p>
                        <button style = "align-self: flex-end;" mat-button type = "submit" [disabled] = 'posSettingForm.invalid'>
                            <mat-icon>navigate_next</mat-icon>
                        </button>
                        <button mat-button  (click) = "upSyncPOSVouchers()">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                        <button mat-button (click) = "downSyncPOSVouchers()">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                    </form>
                    </div>
                    </div>
                  
                </div>
                <div class = "column" style="width: 45%; padding-left: 20px;">
                    <div class="card card-nav-tabs" style="height: 90%;">
                        <div class="card-header card-header-warning">
                        Payment Vouchers
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">Payment Voucher</h4>
                        <form #paymentSettingsForm = "ngForm" (ngSubmit) = "switchPaymentVoucher()">
                        <div style="padding-left: 10px; padding-right: 10px;">
                           
                            <mat-form-field>
                                <mat-label>Select a Voucher Type</mat-label>
                                <mat-select ngModel required (selectionChange) = "getVoucherType($event.value)" name = "voucherTypeSelect">
                                        <mat-option value="">Not Applicable</mat-option>
                                        <ng-container *ngFor = 'let v of user.voucherTypes'>
                                            <mat-option *ngIf = "v.voucherCategory == 'Payment'" [value] = "v" >
                                                {{v.voucherTypeName}}
                                            </mat-option>
                                        </ng-container>
                                        
                                </mat-select>
                            </mat-form-field>
                       
    
                        
                        </div>
                        <p class="card-text">At this point only Payment Vouchers with a defined Class are supported.</p>
                        <button mat-button [disabled] = "paymentSettingsForm.invalid" type="submit">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-button  (click) = "upSyncPaymentVouchers()">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                        <button mat-button (click) = "downSyncPaymentVouchers()">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                    </form>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="column" style="width: 45%;">
                    <div class="card card-nav-tabs"> 
                        <div class="card-header card-header-success">
                        Receipt Vouchers
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Receipt Accounting Voucher</h4>
                            <form #receiptSettingsForm = "ngForm" (ngSubmit) = "switchPaymentVoucher()">
                                <div style="padding-left: 10px; padding-right: 10px;">
                                
                                    <mat-form-field>
                                        <mat-label>Select a Voucher Type</mat-label>
                                        <mat-select ngModel required (selectionChange) = "getVoucherType($event.value)" name = "receiptTypeSelect">
                                                <mat-option value="">Not Applicable</mat-option>
                                                <ng-container *ngFor = 'let v of user.voucherTypes'>
                                                    <mat-option *ngIf = "v.voucherCategory == 'Receipt'" [value] = "v" >
                                                        {{v.voucherTypeName}}
                                                    </mat-option>
                                                </ng-container>
                                                
                                        </mat-select>
                                    </mat-form-field>
                            
                            
                                    <p class="card-text">At this point only Receipt Vouchers with a defined Class are supported.</p>
                                    <button mat-button [disabled] = "receiptSettingsForm.invalid" (click) = "switchReceiptVoucher()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button mat-button  (click) = "upSyncReceiptVouchers()">
                                        <mat-icon>cloud_download</mat-icon>
                                    </button>
                                    <button mat-button (click) = "downSyncReceiptVouchers()">
                                        <mat-icon>cloud_upload</mat-icon>
                                    </button>
                                </div>
                            </form>
                        </div>
                  
                    </div>
                </div>


                <div class = "column" style="padding-left: 20px; width: 45%;">
                    <div class="card card-nav-tabs" >
                        <div class="card-header card-header-info">
                        Order Vouchers
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">Order Agrostop Voucher</h4>
                        <p class="card-text">
                            Create a order for a customer, without payment information.<br>
                        </p>
                        <button mat-button (click) = "switchOrderVoucher()">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-button  (click) = "upSyncOrderVouchers()">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                        <button mat-button (click) = "downSyncOrderVouchers()">
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div *ngIf = "receiptVoucherView">
    <receipt-voucher-wizard [(voucher)] = "voucher"></receipt-voucher-wizard>
</div>


<div *ngIf = "posVoucherView">
    <voucher-wizard [(voucher)]="voucher" voucherType = "Sales" (isOrder) ="false"></voucher-wizard>
</div>

<div *ngIf = "paymentVoucherView">
    <app-payment-voucher-wizard [(voucher)] = "voucher"></app-payment-voucher-wizard>
</div>






    </mat-tab> -->
    <mat-tab label="Sales Voucher">     
        <voucher-wizard [(voucher)]="voucher" voucherType = "Sales" (isOrder) ="false"></voucher-wizard>
    </mat-tab>
    <mat-tab label="Configurations"> 


        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Print Configurations
                </mat-panel-title>
                <mat-panel-description>
                  Configure how your invoice looks
                </mat-panel-description>
              </mat-expansion-panel-header>
                        <div class="row">
          
                    
                            <div class = "col">
                                <div class= 'row'>
                                    <div class="col">
                                        <mat-form-field>
                                        <mat-select name = "voucherTypeNamePC" [(ngModel)] = "printConf.voucherType" placeholder = "Select Voucher Type">
                                            <mat-option *ngFor = "let v of user.voucherTypes" [value] = "v.voucherTypeName">{{v.voucherTypeName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    </div>
                                </div>
                
                                <div class= 'row'>
                                    <div class="col">
                                        <mat-form-field>
                                            <input matInput name = "headingPC" [(ngModel)] = "printConf.name" placeholder="Enter CompanyName">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field>
                                            <input matInput name = "emailIdPC" [(ngModel)] = "printConf.emailId" placeholder="Enter EmailId">
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field>
                                            <input matInput name = "contactNumberPC" [(ngModel)] = "printConf.contactNumber" placeholder="Enter Contact Number">
                                        </mat-form-field>
                                    </div>
                                </div>
                            
                                <div class="row">
                                    <div class="col">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">
                                                <mat-form-field>
                                                    <input #address matInput name = "headingPC"  placeholder="Enter Address Line">
                                                    <button mat-button *ngIf ="address.value"  matSuffix mat-icon-button aria-label="Clear" (click)="printConf.address.push(address.value)">
                                                        <mat-icon>add</mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </mat-list-item>
                                            <mat-list-item role="listitem" *ngFor = "let address of printConf.address">{{address}}</mat-list-item>
                                            
                                        </mat-list>
                                        
                                    </div>
                                    <div class="col">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">
                                                <mat-form-field>
                                                    <textarea #tAndC matInput name = "tAndCPC" placeholder="Enter Terms and Conditions Line"></textarea>
                                                    
                                                    <button mat-button *ngIf ="tAndC.value"  matSuffix mat-icon-button aria-label="Clear" (click)="printConf.termsAndConditions.push(tAndC.value)">
                                                        <mat-icon>add</mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </mat-list-item>
                                            <mat-list-item role="listitem" *ngFor = "let address of printConf.termsAndConditions">{{address}}</mat-list-item>
                                            
                                        </mat-list>
                                    </div>
                
                                
                                
                                </div>
                                <div class = "row">
                                
                                    <div class="col">
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">
                                                
                                                    <mat-form-field>
                                                        <input matInput #lname name = "licenseName"  placeholder="Enter License Name">
                                                    </mat-form-field>
                                                    <mat-form-field>
                                                        <input  matInput #lnumber name = "licenseNumber"  placeholder="Enter License Number">
                                                        <button mat-button matSuffix mat-icon-button (click)="addLicenseNumbers(lname.value, lnumber.value)">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </mat-form-field>
                                                    
                                            
                                            </mat-list-item>
                                            <mat-list-item role="listitem" *ngFor = "let address of printConf.licenseNumbers">{{address.licenseName}} : {{address.licenseNumber}}</mat-list-item>
                                            
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <button mat-raised-button (click) = "submitConfig()">Save</button>
                                    </div>
                                </div>
                            </div>    
                        </div>
              
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Voucher Numbering
                </mat-panel-title>
                <mat-panel-description>
                 Configure Voucher Numbering
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row">
            
            
                    <div class="col">
                        <mat-form-field>
                        <mat-select name = "voucherTypeNamePC" [(ngModel)] = "voucherNumbering.voucherType" placeholder = "Select Voucher Type">
                            <mat-option *ngFor = "let v of user.voucherTypes" [value] = "v.voucherTypeName">{{v.voucherTypeName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput name="startFrom" placeholder="Prefix" [(ngModel)] ="voucherNumbering.prefix">
                        </mat-form-field>
                    </div>
                    <div class ="col">
                        <mat-form-field>
                            <input matInput name="startFrom" placeholder="Start From" type = "number" [(ngModel)] ="voucherNumbering.seq">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <button mat-raised-button (click) = "saveCounter()">Save</button>

                    </div>
                

                 </div>
            </mat-expansion-panel>
          </mat-accordion>






        
        <mat-divider></mat-divider>
        
    </mat-tab>
    
  </mat-tab-group>
</div>
