<mat-spinner *ngIf = "!complete">
</mat-spinner>

<div  *ngIf = "complete" class="row" style="width: 100%;">
    <button [useExistingCss]="true"
    printSectionId="app"
    ngxPrint autofocus mat-button style=" width : 100%;float: right;">
        <mat-icon>print</mat-icon>
    </button>
</div>
<div id="app" class="container invoice" *ngIf = "complete">
<div class="row">
   <!-- data -->
   <div class="col-3 data py-4">
       <div class="line mt-4 mb-4"></div>
       <h3 *ngIf = "isSales()">INVOICE</h3>
       <h3 *ngIf = "isMO()">MATERIAL OUT</h3>

       <div class="data-box">
           <div class="data-separator d-block my-2"></div>
           <h4 *ngIf = "isSales()" class="text-muted font-weight-light">{{voucher.VOUCHERNUMBER? 'No.': 'Delivery Memo'}}No.</h4>
           <h4 *ngIf = "!isSales()" class="text-muted font-weight-light">No.</h4>
           <h4 class="font-weight-bold">{{voucher.VOUCHERNUMBER? voucher.VOUCHERNUMBER: voucher._REMOTEID}}</h4>
       </div>
       <div class="data-box">
           <div class="data-separator d-block my-2"></div>
           <h4 class="text-muted font-weight-light">DATE</h4>
           <h4 class="font-weight-bold">{{voucher.DATE | date: "MMMM dd, yyyy"}}</h4>
       </div>
       <div class="data-box">
           <div class="data-separator d-block my-2"></div>
           <h4 class="text-muted font-weight-light">TOTAL</h4>
           <h4 class="font-weight-bold">{{voucher.getTotal() | currency: 'INR'}}</h4>
       </div>
       <div class="data-box">
            <h5 class="font-weight-bold">LICENSES</h5>
            <ng-container *ngFor = "let ln of printConf.licenseNumbers">
                <p><strong>{{ln.licenseName}}</strong> <br> {{ln.licenseNumber}}</p>

            </ng-container>
        </div>
       <div class="data-box" *ngIf = "isSales()">
           <h5 class="font-weight-bold">PAYMENT METHODS</h5>
           <ng-container *ngFor = "let ledger of voucher.LEDGERENTRIES_LIST">
                <div style="width: 100%;" *ngIf = "ledger.POSPAYMENTTYPE && ledger.AMOUNT">
                    <span class="font-weight-light" style="width: 70%; float: left;">{{ledger.POSPAYMENTTYPE == "Gift" ? "On Account" : ledger.POSPAYMENTTYPE}}</span>
                    <span class="font-weight-light" style="width: 30%; float: right;">{{(ledger.AMOUNT) | currency: 'INR'}}</span>
                </div>
            </ng-container>
       </div>
       <div class="data-box" *ngIf = "isMO()">
            <h5 class="font-weight-bold">{{printConf.name}}</h5>
             <div style="width: 100%;" *ngIf = "printConf.name">
                 <ng-container *ngFor = "let address of printConf.address">
                    <span class="font-weight-light">{{address}}</span><br>
                 </ng-container>
                 <span class="font-weight-light">{{printConf.contactNumber}}</span><br>
                 <span class="font-weight-light">{{printConf.emailId}}</span>

             </div>
        </div>
       <div class="data-box align-text-bottom" style="width: 100% !important;">
            <img src="assets/img/agrostop_black.png" alt="Agrostop" class="img-fluid">
       </div>
   </div>
   <!-- end data -->

   <!-- content -->
   <div class="col-9 content py-4">
       <div class="line mt-4 mb-4"></div>
       <!-- header -->
       <div class="header">
           <div class="row">
               <div class="col-6 from" *ngIf = "printConf">
                   <span class="d-block font-weight-light">FROM:</span>
                   <div *ngIf = "isSales()">
                        <h4>{{printConf.name}}</h4>
                        <ng-container *ngFor = "let address of printConf.address">
                        <span class="d-block font-weight-light">{{address}}</span>
                        </ng-container>
                        <span class="d-block font-weight-light">{{printConf.contactNumber}}</span>
                        <span class="d-block font-weight-light">{{printConf.emailId}}</span>
                   </div>
                   <div *ngIf = "isMO()">
                       <h4>{{voucher.VOUCHERSOURCEGODOWN}}</h4>
                   </div>
               </div>
               <div class="col-6 to" >
                   <span class="d-block font-weight-light">TO:</span>
                   <div *ngIf = "isSales()">
                       <div *ngIf = "customer">
                            <h4>{{customer.name}}</h4>
                            <span class="d-block font-weight-light">S/O {{customer.fatherName}}</span>
                            <div *ngIf = "address">
                                <span class="d-block font-weight-light">{{address.name}}, {{address.districtName}}</span>
                                <span class="d-block font-weight-light">{{address.stateName}}</span>
                            </div>
                            <span class="d-block font-weight-light">{{customer.customerId}}</span>
                       </div>
                       <div class="col-6 to" *ngIf = "!customer">
                            <span class="d-block font-weight-light">TO:</span>
                            <h4>{{voucher.BASICBUYERNAME}}</h4>
                            <span class="d-block font-weight-light">{{voucher.ADDRESS_LIST ? voucher.ADDRESS_LIST.ADDRESS: ""}}</span>
                        </div>

                   </div>
                   <div *ngIf = "isMO()">
                     <h4>{{voucher.VOUCHERDESTINATIONGODOWN}}</h4>
                   </div>

               </div>
           </div>
       </div>
       <!-- end header -->

       <!-- note -->
       <!-- <div class="row my-4">
           <div class="col-12">
               <p class="text-justify">Quis sunt mollit nostrud aliqua consectetur voluptate eiusmod proident aute laboris non reprehenderit magna qui. Esse occaecat laboris laborum dolore excepteur enim laboris.</p>
           </div>
       </div> -->
       <!-- end note -->

       <!-- items-header -->
       <div class="items-header">
           <div class="row mt-4 items-header font-weight-bold">
               <div class="col-12 my-2">
                   <div class="line"></div>
               </div>
               <div class="col-4">DESCRIPTION</div>
               <div class="col-3 text-center">BATCH</div>
               <div class="col-1 text-center">PRICE</div>
               <div class="col-2 text-center">QTY</div>
               <div class="col-1 text-right">TOTAL</div>
               <div class="col-12 my-2">
                   <div class="line"></div>
               </div>
           </div>
       </div>
       <!-- end items-header -->

       <!-- items -->
       <div class="items">
           <ng-container *ngFor = "let item of stockItems">
                <div class="row mt-2 list-content">
                    <div class="col-4">
                        <p class="without-margin">{{item.STOCKITEMNAME}} ({{item.tallyObject ? item.tallyObject.getHSNCODE(): "NA"}})</p>
                        <p class="without-margin text-muted">
                            <small>{{item.tallyObject && item.tallyObject.category
                                ? item.tallyObject.category
                                : ""}}</small>
                        </p>
                    </div>
                    <div class="col-3 text-center">
                        <p class="without-margin">{{item.BATCHALLOCATIONS_LIST.BATCHNAME}}</p>
                        <p class="without-margin text-muted">
                            <small><strong>EXP: </strong>{{item.BATCHALLOCATIONS_LIST.EXPIRYPERIOD.DATE}}</small>
                        </p>
                    </div>
                    <div class="col-1 text-center">{{item.RATE | currency: "INR"}}</div>
                    <div class="col-2 text-center">{{item.BILLEDQTY}} {{item.tallyObject? item.tallyObject.baseUnits : ""}}</div>
                    <div class="col-1 text-right">{{(isSales()? (item.RATE * item.BILLEDQTY) : (item.AMOUNT * (-1))) | currency: "INR"}}</div>
                </div>
                <div class="row">
                    <div class="col-12 my-2">
                        <div class="line-light"></div>
                    </div>
                </div>
           </ng-container>

       </div>
       <!-- end items -->

       <!-- values -->
       <div class="values">
           <div class="row">
               <div class="col-12 my-2">
                   <div class="line"></div>
               </div>
           </div>
           <div class="row mt-2 list-content">
               <div class="col-10 font-weight-bold">
                   SUBTOTAL
               </div>
               <div class="col-2 text-right font-weight-bold">{{getSubTotal() | currency: "INR"}}</div>
           </div>
           <ng-container *ngFor = "let led of voucher.LEDGERENTRIES_LIST">
            <div *ngIf = "led.METHODTYPE && led.AMOUNT && led.AMOUNT != 0" class="row mt-2 list-content">
                <div class="col-10">
                    {{led.LEDGERNAME}}
                </div>
                <div class="col-2 text-right">{{led.AMOUNT | currency: 'INR'}}</div>
            </div>
           </ng-container>

            <div class="col-12 my-2">
                <div class="line-end"></div>
            </div>
           <div class="row mt-2 list-content">
               <div class="col-9">
                   <h3 class="font-weight-bold">TOTAL</h3>
               </div>
               <div class="col-3 text-right">
                   <h3 class="font-weight-bold">{{voucher.getTotal()| currency:'INR'}}</h3>
               </div>
           </div>
       </div>
       <!-- end values -->




       <!-- signature -->
       <div class="signature my-4" *ngIf= "auth.user">
           <div class="row">
               <div class="col-12 text-right">
                   <h4 class="font-weight-bold">{{auth.user.name}}</h4>
                   <span class="d-block font-weight-light">Authorised</span>
               </div>
           </div>
       </div>
       <!-- end signature -->

       <div class="items-header" *ngIf = "isSales()">
            <div class="row mt-4 items-header font-weight-bold">
                <div class="col-12 my-2">
                    <div class="line"></div>
                </div>
                <div class="col-3">HSNCODE</div>
                <div class="col-2 text-center">CGST RATE</div>
                <div class="col-2 text-center">CGST AMT</div>

                <div class="col-2 text-right">SGST RATE</div>
                <div class="col-2 text-right">SGST AMT</div>
                <div class="col-12 my-2">
                    <div class="line"></div>
                </div>
            </div>
        </div>

       <div *ngIf = "hsnDetails && isSales()" class = "items">
        <ng-container *ngFor = "let tax of hsnDetails | keyvalue">
            <div class="row mt-2 list-content">
                <div class="col-3">
                    <p class="without-margin">{{tax.value.hsnCode}}</p>
                </div>
                <div class="col-2 text-center">{{tax.value.cgst.rate}}%</div>
                <div class="col-2 text-center">{{tax.value.cgst.amount * 0.01 |  currency: 'INR' :true:'1.2-2'}}</div>
                <div class="col-2 text-right">{{tax.value.sgst.rate}}%</div>
                <div class="col-2 text-right">{{(tax.value.sgst.amount * 0.01) | currency: 'INR' :true:'1.2-2'}}</div>
            </div>
            <div class="row">
                <div class="col-12 my-2">
                    <div class="line-light"></div>
                </div>
            </div>
       </ng-container>
       </div>

       <!-- gratitude -->
       <div class="gratitude my-4">
            <ul >
                <ng-container *ngFor = "let tc of printConf.termsAndConditions">
                    <li>{{tc}}</li>
                </ng-container>

                <li *ngIf = "!voucher.VOUCHERNUMBER">Due to troubles in internet connectivity we are unable to provide you an invoice at this point. Please collect it later</li>
                <li *ngIf = "voucher.NARRATION">NARRATION: {{voucher.NARRATION}}</li>
            </ul>
        </div>
        <div class="gratitude text-center my-4">
           <p class="text-muted">If not already done so, we recommend registering yourself with Agrostop for more tailored experiences.</p>
           <h2>Thank you</h2>
        </div>
       <!-- end gratitude -->

       <!-- pagination -->
       <!-- <div class="invoice-pagination text-right">
           <p class="text-muted text-right">Page 1 of 1</p>
       </div> -->
       <!-- end pagination -->
   </div>
   <!-- end content -->
</div>
</div>
