




  <div style="padding-left :30px; padding-top: 10px; padding-right:30px;">
    <div style="float: left;"><td><h6>Total : {{total()}} </h6></td></div>
    <div style="float:right;"><td><h6>Balance : {{remainingBalance()}} </h6></td></div>
  </div>




<div>

  <table class="table">
    <thead>
        <tr>
            
            <th>Type</th>
            <th>Ledger</th>
            <th>Amount</th>
        
        </tr>
    </thead>
    <tbody>
      <ng-container *ngFor = 'let ledger of voucher.LEDGERENTRIES_LIST'>
      <tr >
        <td>{{ledger.METHODTYPE ? ledger.METHODTYPE: ledger.POSPAYMENTTYPE}}</td>
        <td *ngIf = 'ledger.LEDGERNAME'>
          <a (click) = 'ledger.LEDGERNAME = ""'>{{ledger.LEDGERNAME}}</a>
        </td>
        <td *ngIf = '!ledger.LEDGERNAME'>
          <mat-form-field class="example-full-width">
         
            <mat-select [(ngModel)] = 'ledger.LEDGERNAME'>
              <mat-option *ngFor="let option of ledgers" [value]="option.NAME"
                aria-selected="">
                <th scope="row">
                  <div class="p-2">
                    <div class="ml-3 d-inline-block align-middle">
                      <h6 class="mb-0 font-weight-bold">{{option.NAME}}</h6>
                    </div>
                  </div>
                </th>

              </mat-option>
            </mat-select>
          </mat-form-field>   
        </td>
        <td>
          <input #giftAmountRef [readonly] = '!ledger.LEDGERNAME'
                 matInput name ="giftAmount" 
                 [(ngModel)] = "ledger.AMOUNT"  
                 type = "number" 
                 placeholder="Enter Amount">
        </td>

      </tr>
    </ng-container>
          <!-- <tr *ngIf = "giftLedgerEntry">
            <td>On Account</td>
            <td>
              <mat-form-field class="example-full-width">
                <input #giftLedger type="text"
                        name = "GiftLedgerSelect"
                       placeholder= "Select an account..."
                       aria-label = "ledgerAccount"
                       matInput
                       [formControl] = "ledgerControl"
                       [(ngModel)] = "giftLedgerEntry.LEDGERNAME"
                       [matAutocomplete] = "autoLed"
                       (keydown.enter) = "this.giftAmountRef.nativeElement.focus()"
                       style = "width:100% !important">
                <mat-autocomplete #giftLedgerSelection 
                                  autoActiveFirstOption [panelWidth]="500"
                                  #autoLed="matAutocomplete"
                                  [displayWith]="displayFnLedger">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.NAME"
                    aria-selected="">
                    <th scope="row">
                      <div class="p-2">
                        <div class="ml-3 d-inline-block align-middle">
                          <h6 class="mb-0 font-weight-bold">{{option.NAME}}</h6>
                        </div>
                      </div>
                    </th>

                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>   
            </td>
            <td *ngIf = "this.giftLedgerEntry.LEDGERNAME">
              
                <input #giftAmountRef
                 matInput name ="giftAmount" 
                 [(ngModel)] = "giftLedgerEntry.AMOUNT"  
                 type = "number" 
                 placeholder="Enter Amount"
                 (keydown.enter) = "this.cashLedgerEntry.AMOUNT = this.total() - giftLedgerEntry.AMOUNT;this.cashLedgerSelection.nativeElement.focus();false">
              
            </td>
        </tr>
        
        <tr *ngIf = "cashLedgerEntry">
            
          <td>Cash</td>
          <td>
            <mat-form-field class="example-full-width">
              <input #cashLedgerSelection type="text"
                      name = "CashLedgerSelect"
                     placeholder= "Select an account..."
                     aria-label = "ledgerAccount"
                     matInput
                     (keydown.enter) = "setLedger();false"
                     [matAutocomplete] = "autoCash"
                     [(ngModel)] = "this.cashLedgerEntry.LEDGERNAME"
                     style = "width:100% !important">
              <mat-autocomplete #ledgerSelection 
                                autoActiveFirstOption [panelWidth]="500"
                                #autoCash="matAutocomplete"
                                [displayWith]="displayFnCashLedger"
              >
                <mat-option *ngFor="let option of cashFilteredOptions | async" [value]="option.NAME"
                  aria-selected="">
                  <th scope="row">
                    <div class="p-2">
                      <div class="ml-3 d-inline-block align-middle">
                        <h6 class="mb-0 font-weight-bold">{{option.NAME}}</h6>
                      </div>
                    </div>
                  </th>

                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            
            
            
          </td>
          <td>
            <input #cashRecievedRef
             matInput name ="cashAmount" 
             [(ngModel)] = "cashLedgerEntry.AMOUNT"  
             (value)="this.remainingBalance()"
             type = "number" 
             placeholder="Enter Amount"
             (keydown.enter) = "validate();false">
          </td>
          </tr> -->
    </tbody>
</table>
<div>
  <button class='btn btn-previous btn-fill btn-success btn-wd btn-sm' autofocus name='previous' (click)="validate()">Validate</button>
</div>

</div>