

  <app-navigation-bar>
    <div class="htmlPage">
      <mat-tab-group>
        <mat-tab label="Product"> Content 1 </mat-tab>
        <mat-tab label="Product Group">

          <div class="row" style="width: 100%; padding-left: 30px;">
            
                <div class="card">
                    <div class="card-header card-header-tabs card-header-warning">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                              
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item active">
                                        <a href="#profile" class="nav-link" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> Create
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#messages" (click) = "getProductGroups()" class="nav-link" data-toggle="tab">
                                            <i class="material-icons">code</i> Edit
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#settings" (click) = "getPriceData()" class="nav-link" data-toggle="tab">
                                            <i class="material-icons">cloud</i> Update Price
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                              <form #productGroupCreation = "ngForm" (ngSubmit)="saveProductGroup()" >
                                <div class="row">
                                  <div class="col-md-6">
                                    
                                      <mat-form-field>
                                        <input placeholder = "Enter name" required matInput name = "productGroupName" [(ngModel)] = "productGroup.name">
                                      </mat-form-field>
                                    
                                    <mat-form-field>
                                      <input required placeholder = "Enter company name" matInput name = "productGroupCompany" [(ngModel)] = "productGroup.companyName">
                                    </mat-form-field>

                                    <mat-form-field style="width: 100%;">
                                      <mat-label>Description</mat-label>
                                      <textarea matInput name = "description" [(ngModel)] = "this.productGroup.description" placeholder="Tell your customer something about the product..."></textarea>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6" style="padding-left: 20px;">
                                    <img [src]="this.productGroup.image" height="200" style="padding-left: 20px;"> <br/>
                                    
                                    <button style="padding-left: 20px;" type="button" mat-button (click)="onSelectFile()">Select File</button>
                                
                                  </div>
                                </div>
                                <div class="row" style="padding-top: 40px;">
                                  <div class="col-md-6">
                                    <h5>Chemical Composition</h5>
                                    <mat-form-field>
                                      <mat-select placeholder= "select a chemical group" (selectionChange) = "addChemicalGroup($event)">
                                        <ng-container *ngFor = "let item of chemicalGroups$ | async">
                                          <mat-option [value] = "item.name">{{item.name}}</mat-option>
                                        </ng-container>
                                      </mat-select>
                                    </mat-form-field>
                                    <div style="display:flexbox;">
                                      <ng-container *ngFor = "let chem of this.productGroup.technicalSet; let i = index">
                                        <button type="button" class="btn btn-warning" (click) = "this.productGroup.technicalSet.splice(i)">
                                          {{chem}}
                                        </button>
                                        
                                      </ng-container>
                                    </div>
                                    
                                    
                                  </div>
                                  <div class="col-md-6">
                                    <h5>Packaging Information</h5>
                                    <div style="display: flex;">
                                      <mat-form-field>
                                        <input matInput placeholder="Enter Packaging" #packagingInput (onfocus) = "getTallyProducts()">
                                      </mat-form-field>
                                      <mat-form-field *ngIf = "packagingInput">
                                        <mat-select placeholder= "select a product" (selectionChange) = "addPackaging($event, packagingInput.value)">
                                          <ng-container *ngFor = "let item of tallyProducts$ | async">
                                            <mat-option [value] = "item">{{item}}</mat-option>
                                          </ng-container>
                                        </mat-select>
                                      </mat-form-field>
                                    </div>
                                    <div style="display:flexbox;">
                                      <ng-container *ngFor = "let entry of productGroup.packaging; let i = index">
                                        <button type="button" class="btn btn-warning" (click) = "this.productGroup.packaging.splice(i)">
                                          {{entry.key}} : {{entry.item}}
                                        </button>
                                        
                                      </ng-container>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <button style="float: right;" mat-button type="submit" [disabled] = "productGroupCreation.invalid">Save</button>
                                </div>
                                
                              </form>
                            </div>
                            <div class="tab-pane" id="messages">
                                <div class="row">
                                  <mat-form-field >
                                    <mat-select placeholder= "Select a group to edit" (selectionChange) = "getProductGroup($event.value.name)">
                                      <mat-option [value] = "group" *ngFor = "let group of productGroups$ | async">
                                        {{group.name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>

                                </div>
                                <div class="row">
                                  <form #productGroupEditing = "ngForm" (ngSubmit)="saveProductGroup()" >
                                    <div class="row">
                                      <div class="col-md-6">
                                        
                                          <mat-form-field>
                                            <input readonly placeholder = "Enter name" required matInput name = "productGroupName" [(ngModel)] = "productGroup.name">
                                          </mat-form-field>
                                        
                                        <mat-form-field>
                                          <input required placeholder = "Enter company name" matInput name = "productGroupCompany" [(ngModel)] = "productGroup.companyName">
                                        </mat-form-field>
    
                                        <mat-form-field style="width: 100%;">
                                          <mat-label>Description</mat-label>
                                          <textarea matInput [(ngModel)] = "this.productGroup.description" name = "description" placeholder="Tell your customer something about the product..."></textarea>
                                        </mat-form-field>
                                      </div>
                                      <div class="col-md-6" style="padding-left: 20px;">
                                        <img [src]="this.productGroup.image" height="200" style="padding-left: 20px;"> <br/>
                                        
                                        <button style="padding-left: 20px;" type="button" mat-button (click)="onSelectFile()">Select File</button>
                                    
                                      </div>
                                    </div>
                                    <div class="row" style="padding-top: 40px;">
                                      <div class="col-md-6">
                                        <h5>Chemical Composition</h5>
                                        <mat-form-field>
                                          <mat-select placeholder= "select a chemical group" (selectionChange) = "addChemicalGroup($event)">
                                            <ng-container *ngFor = "let item of chemicalGroups$ | async">
                                              <mat-option [value] = "item.name">{{item.name}}</mat-option>
                                            </ng-container>
                                          </mat-select>
                                        </mat-form-field>
                                        <div style="display:flexbox;">
                                          <ng-container *ngFor = "let chem of this.productGroup.technicalSet let i = index">
                                            <button type="button" class="btn btn-warning" (click) = "this.productGroup.technicalSet.splice(i)">
                                              {{chem}}
                                            </button>
                                            
                                          </ng-container>
                                        </div>
                                        
                                        
                                      </div>
                                      <div class="col-md-6">
                                        <h5>Packaging Information</h5>
                                        <div style="display: flex;">
                                          <mat-form-field>
                                            <input matInput placeholder="Enter Packaging" #packagingInput (onfocus) = "getTallyProducts()">
                                          </mat-form-field>
                                          <mat-form-field *ngIf = "packagingInput">
                                            <mat-select placeholder= "select a product" (selectionChange) = "addPackaging($event, packagingInput.value)">
                                              <ng-container *ngFor = "let item of tallyProducts$ | async">
                                                <mat-option [value] = "item">{{item}}</mat-option>
                                              </ng-container>
                                            </mat-select>
                                          </mat-form-field>
                                        </div>
                                        <div style="display:flexbox;">
                                          <ng-container *ngFor = "let entry of productGroup.packaging; let i = index">
                                            <button type="button" class="btn btn-warning" (click) = "this.productGroup.packaging.splice(i)">
                                              {{entry.key}} : {{entry.item}}
                                            </button>
                                            
                                          </ng-container>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <button style="float: right;" mat-button type="submit" [disabled] = "productGroupCreation.invalid">Save</button>
                                      <button style="float: right;" mat-button type="button" [disabled] = "!productGroup" (click) = "deleteProductGroup(productGroup.name)">Delete</button>

                                    </div>
                                    
                                  </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="settings">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div style="padding-top: 10px; padding-bottom: 10px; padding-left: 20px;">
                                      <input type="file" class="upload" (change)="changeListener($event.target.files)">
                                  </div>
                                  <button mat-button (click) = "uploadCsvFile()">Upload</button>                                  </div>
                                  <div class="col-md-6">

                                    <table class="table">
                                      <thead class="text-warning">
                                        <th>Godown Name</th>
                                        <th>Online Price List</th>
                                        
                                      </thead>
                                      <tbody>
                                        <tr *ngFor = "let godown of godowns$ | async">
                                          <td>{{godown}}</td>
                                          <td>
                                            <mat-form-field>
                                              <mat-select placeholder="select a PriceList" (selectionChange) = "pricemap.set(godown, $event.value)">
                                                <mat-option [value] = "priceList" *ngFor = "let priceList of priceLists$| async">
                                                  {{priceList}}
                                                </mat-option>
                                              </mat-select>
                                            </mat-form-field>
                                          </td>
                                          
                                        </tr>
                                        
                                      </tbody>
                                    </table>
                                  <button mat-button (click) = "updatePrice()">Upload</button>

                                  </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
          </div>

        </mat-tab>
        
        
        <mat-tab label="Online Products">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons"></i>
              </div>
              <h4 class="card-title">Basic Details</h4>
            </div>
            <div class="card-body">
              <form #onlineFormCreation = "ngForm">

              </form>

            </div>
        </div>
        </mat-tab>
        <mat-tab label="Chemical Group"> 
          <div class="row" style="position: relative; padding-left: 50px; width: 100%">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item active">
                                        <a href="#profile" class="nav-link" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> Create
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#messages" class="nav-link" data-toggle="tab">
                                            <i class="material-icons">code</i> Edit
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#settings" class="nav-link" data-toggle="tab">
                                            <i class="material-icons">cloud</i> View
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <form #chemicalGroupCreationForm = "ngForm" (ngSubmit) = "saveChemicalGroup()">
                                  <div class="col-sm-4">
                                    <mat-form-field class="example-full-width has-success">
                                      <input required matInput [(ngModel)] = "chemicalGroup.name" name = "name" type="text" placeholder="Success input">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-sm-4">
                                    <mat-form-field class="example-full-width has-success">
                                      <mat-select placeholder = "Select Parent" required [(ngModel)] = "chemicalGroup.parent" name = "parent">
                                        <mat-option [value] = 'item.name' *ngFor = "let item of chemicalGroups$ | async">
                                          {{item.name}}
                                        </mat-option>
                                      </mat-select>
                                      
                                    </mat-form-field>
                                  </div>
                                  
                                  <button mat-button type="submit" [disabled] = "chemicalGroupCreationForm.invalid" > Save</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="messages">
                              <form #chemicalGroupEditingForm = "ngForm" (ngSubmit) = "saveChemicalGroup()">
                                <div class="col-sm-4">
                                  <mat-form-field class="example-full-width has-success">
                                    <mat-select required placeholder = "Select a group" [(ngModel)] = "chemicalGroup" name = "name">
                                      <mat-option [value] = 'item' *ngFor = "let item of chemicalGroups$ | async">
                                        {{item.name}}
                                      </mat-option>
                                    </mat-select>
                                    
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-4" *ngIf = "chemicalGroup.name">
                                  <mat-form-field class="example-full-width has-success">
                                    <input matInput placeholder="Name" name = "nameReadOnly" [(ngModel)] = "chemicalGroup.name" readonly>
                                    
                                  </mat-form-field>
                                </div>
                                <div class="col-sm-4" *ngIf = "!chemicalGroup.edit && chemicalGroup.name" style="display: flex;">
                                  <mat-form-field class="example-full-width has-success">
                                    <input matInput placeholder="Parent" name = "parentReadOnly" [(ngModel)] = "chemicalGroup.parent" readonly>
                                  </mat-form-field>
                                  <button mat-button (click) = "chemicalGroup.edit = !chemicalGroup.edit">
                                    edit
                                  </button>
                                </div>
                                <div class="col-sm-4" *ngIf = "chemicalGroup.edit">
                                  <mat-form-field class="example-full-width has-success">
                                    <mat-select readonly required placeholder = "Parent" [(ngModel)] = "chemicalGroup.parent" name = "parent">
                                      <ng-container  *ngFor = "let item of chemicalGroups$ | async">
                                        <mat-option [value] = 'item.name' *ngIf ="item.name != chemicalGroup.name">
                                          {{item.name}}
                                        </mat-option>
                                      </ng-container>
                                    </mat-select>
                                    
                                  </mat-form-field>
                                </div>
                                <div>
                                  <button mat-button type="submit" [disabled] = "!chemicalGroup.name" > Save</button>
                                  <button mat-button  [disabled] = "!chemicalGroup.name" (click) = "deleteChemicalGroup(chemicalGroup.name)">Delete</button>

                                </div>
                              </form>
                            </div>
                            <div class="tab-pane" id="settings">
                                Third Tab
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>  
        </mat-tab>
      </mat-tab-group>
      <router-outlet></router-outlet>
    </div>
  </app-navigation-bar>

