






  

 
      
    











      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="">
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Qty
          </th>
          <th>
           Batch
          </th>
          
          </thead>
          <tr>
            <td>
              {{this.voucher.ALLINVENTORYENTRIES_LIST.length}}
            </td>
              <td>
                <mat-form-field class="example-full-width" style="width: 150px;">
                  <input #invField type="text"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput
                         [formControl]="productControl"
                         [matAutocomplete]="auto"
                      
                         style="width:100% !important" >
                  <mat-autocomplete [panelWidth]="300" #auto="matAutocomplete"
                                    (optionSelected)= 'selectProduct($event.option.value.NAME)'
                                    [displayWith]= "displayFnProduct">
                                    <mat-option [value]= "endVoucher">
                                      <th scope="row">
                                        <div class="p-2">
                                          <div class="ml-3 d-inline-block align-middle">
                                           <h6 class="mb-0 font-weight-bold">{{endVoucher.NAME}}</h6>
                                          </div>
                                        </div>
                                    </th>
                                    </mat-option>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      <th scope="row">
                        <div class="p-2">
                          <div class="ml-3 d-inline-block align-middle">
                            <h6 class="mb-0 font-weight-bold">{{option.NAME}}</h6>
                          </div>
                        </div>
                      </th>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>

              <td>
                <mat-form-field style="width: 50px;">
                  <input #quantityField (keydown.enter)= "validateQty(); false" type="number" placeholder="Enter qty" aria-label="Quantity" matInput 
                  [formControl] = "qtyControl">
                </mat-form-field>
              </td>

              <td>

                <mat-form-field class="example-full-width" style="width: 100px;">
                  <mat-select [formControl] = "batchControl" #batchField (selectionChange) = "validateInventoryEntry()" aria-placeholder="batch">
                    
                    <mat-option *ngFor="let option of batchCurrent" [value]="option">
                      <tr>
                        <td>
                          <div class="ml-3 d-inline-block align-middle">
                            <h6 class="mb-0 font-weight-bold">{{option.NAME}}</h6>
                          </div>
                        </td>
                        <td>
                          <div class="ml-3 d-inline-block align-middle">
                            <h6 class="mb-0 font-weight-bold"> {{option.EXPIRYDATE  | date: "dd-MMM-yyyy"}}</h6>
                          </div>
                        </td>
                        <td>
                          <div class="ml-3 d-inline-block align-middle">
                            <h6 class="mb-0 font-weight-bold">{{option.CLOSINGBALANCE}}</h6>
                          </div>
                        </td>
                      </tr>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
             
          </tr>
          <tbody>
            <ng-container *ngFor=" let product of voucher.ALLINVENTORYENTRIES_LIST; let i = index">
              <tr>
                <td>
                  <button mat-button color="warn" name="button" (click)="deleteItem(i)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                  </button>
                </td>
                <td>
                  {{product.STOCKITEMNAME}}
                </td>
                <td>
                  {{product.BILLEDQTY}}
                </td>
                <td>
                  {{product.BATCHALLOCATIONS_LIST.BATCHNAME}}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
   


