

    <div class="card">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">History:</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#profile" data-toggle="tab">
                  <i class="material-icons">view_headline</i> Purchase
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#messages" (click)="showOrders()" data-toggle="tab">
                  <i class="material-icons">shopping_cart</i> Order
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#settings" data-toggle="tab">
                  <i class="material-icons">rate_review</i> Complaint
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>










      
        <div class="tab-content">
          <div class="tab-pane active" id="profile">
            <table class="table table-hover">
              <thead class="text-primary">
              <th>S.No.</th>
              <th>Name</th>
              <th>Date</th>
              <th>Quantity</th>
              </thead>
              <tbody>
                <ng-container *ngFor =" let item of previousHistory; let i = 'index'">
                  <tr>
                    <td>{{i+1}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.date | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{item.qty}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <div class="tab-pane" id="messages">
            <div class="container" style="padding-top: 10px;padding-bottom: 10px;">


              <ng-container *ngFor =" let order of customerOrder">
                <div role="tablist" id="accordion-1">
                  <div class="card">
                    <div role="tab" class="card-header">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">Order Number : {{order._REMOTEID}}</a>

                      </h5>
                      <h6 class="mb-0">{{order.DATE | date: 'dd-MMM-yyyy'}}</h6>
                      <div style="padding-left: 20px !important;">
                        <button (click)=" createVoucher(order)"
                                class="btn btn-primary shadow float-right" type="button">Create Voucher</button>
                      </div>
                    </div>
                    <div role="tabpanel" data-parent="#accordion-1" class="collapse show item-1">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Item Name</th>
                                <th>Quantity</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor=" let item of order.ALLINVENTORYENTRIES_LIST">
                                <tr>
                                  <td>{{item.STOCKITEMNAME}}</td>
                                  <td>{{item.BILLEDQTY}}</td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>


            </div>
          </div>
          <div class="tab-pane" id="settings" *ngIf ="false">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                  </td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" checked>
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>Sign contract for "What are conference organizers afraid of?"</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
    </div>
 

