.dateChip{
    background-color: #F2541B !important;
    color: #fff;

}
.voucherParentTypeChip{
    background-color: #02287A !important;
    color: #fff;
}
.voucherTypeChip{
    background-color: #7FC7C3 !important;
    color: #fff;
}
.classChip{
    background-color: #AFFA3E !important;
    color: #fff;
}
.vnChip{
    background-color: #212738 !important;
    color: #fff;
}
.prChip{
    background-color: #6D326D !important;
    color: #fff;
}.classChip{
    background-color: #212738 !important;
    color: #fff;
}.gdwChip{
  background-color: #7DDF64 !important;
  color: #fff;
}
.ledgerChip{
  background-color: #E56399 !important;
  color: #fff;
}
