<div *ngIf = "!change && posClass != null" style="padding-left: 10px; padding-right: 10px;" >
    

    
    
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]= "picker" [(ngModel)] = 'this.voucher.DATE'>
                                <mat-datepicker-toggle matSuffix [for]= "picker" ></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td><strong>Voucher Number:<input matInput readonly [(ngModel)] = "this.voucher.VOUCHERNUMBER" placeholder="Voucher Number"></strong></td>
                    </tr>
                    <tr>
                        <td><strong>Voucher Type:</strong> <input matInput readonly [(ngModel)] = "this.voucherType.NAME" placeholder="Voucher Type"> </td>
                        <td><strong>Godown Name:</strong><input matInput readonly [(ngModel)] = "godown" placeholder="Voucher Type"></td>
                    </tr>
                    <tr>
                        <td><strong>Price List: </strong><input matInput readonly [(ngModel)] = "this.voucher.PRICELEVEL" placeholder="priceList"></td>
                        <td><strong>POS Class: </strong><input matInput readonly [(ngModel)] = "this.posClass.CLASSNAME.content" placeholder="POS Class"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



    

   
