<div *ngIf = "!change && posClass != null" style="padding-left: 10px; padding-right: 10px;" >
    

    
    
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]= "picker" [formControl] = 'date'>
                                <mat-datepicker-toggle matSuffix [for]= "picker" ></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td><strong>Voucher Number:<input matInput readonly [(ngModel)] = "this.voucher.VOUCHERNUMBER" placeholder="Voucher Number"></strong></td>
                    </tr>
                    <tr>
                        <td><strong>Voucher Type:</strong> <input matInput readonly [(ngModel)] = "this.voucherType.NAME" placeholder="Voucher Type"> </td>
                        <td><strong>Godown Name:</strong><input matInput readonly [(ngModel)] = "godown" placeholder="Voucher Type"></td>
                    </tr>
                    <tr>
                        <td><strong>Price List: </strong><input matInput readonly [(ngModel)] = "this.voucher.PRICELEVEL" placeholder="priceList"></td>
                        <td><strong>POS Class: </strong><input matInput readonly [(ngModel)] = "this.posClass.CLASSNAME.content" placeholder="POS Class"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div style="padding-left: 10px; padding-right: 10px;" *ngIf= "change">
    

    <mat-form-field>
        <mat-label>Select a Voucher Type</mat-label>
        <mat-select (selectionChange) = "getVoucherType($event.value)" name = "voucherTypeSelect">
                <mat-option *ngFor = 'let v of voucherTypeList' [value] = "v" >
                    {{v.voucherTypeName}}
                </mat-option>
        </mat-select>
    </mat-form-field>
<!--
    <mat-form-field>
        <mat-label>Select a Class</mat-label>
        <mat-select name = "posClassSelect" (selectionChange) = "savePOSCLass($event.value)">
            <mat-option [value] = 'class' *ngFor = 'let class of voucherTypeList'>
                {{class.voucherClass}}
            </mat-option>
        </mat-select>
    </mat-form-field>
-->
    <mat-form-field>
        <mat-label>Select a Price Level</mat-label>
        <mat-select [(ngModel)] = "this.voucher.PRICELEVEL" (selectionChange) = "savePriceList($event.value)">
                <mat-option *ngFor = 'let v of pricelevels' [value] = "v">
                    {{v}}
                </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select a Godown</mat-label>
        <mat-select (selectionChange) = "saveGodown($event.value)">
                <mat-option *ngFor = 'let v of godowns' [value] = "v">
                    {{v}}
                </mat-option>
        </mat-select>
    </mat-form-field>

</div>
<div style="padding-left: 10px; padding-right: 10px;">
    <div class="wizard-footer height-wizard">
        <div class="pull-right" >
            <input class='btn btn-next btn-fill btn-warning btn-wd btn-sm' type="button" (keydown.enter) = "setVoucher(); false" #saveButton value="Proceed">
        </div>

        <div class="pull-left" *ngIf="!change">
          <button class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' (click)="proceedChange()">Change</button>
        </div>
        <div class="clearfix"></div>
      </div>
</div>