<div class="col">
    <div class="row" style="width: 100%;">
        <div class="col">
            <button style="float: left;" mat-icon-button (click) = "close()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <div class="col">
            <button style="float: right;" mat-icon-button (click) = "done()">
                <mat-icon>done</mat-icon>
            </button>
        </div>
        
    </div>
    <div class="row">
        <div id="container"></div>
    </div>
</div>
